<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu-Gi-Oh Card Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div id="videoContainer">
        <video id="video" autoplay playsinline></video>
        <div id="overlay"></div>
    </div>
    <canvas id="canvas" style="display:none;"></canvas>
    <br>
    <button id="captureButton">Take a photo</button>
    <div id="loading">Processing...</div>
    <div id="result"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
